<nav id="nav">
    <img src="https://joinblush.com/wp-content/uploads/2017/06/Elite-Daily-png-1024x649.png"
        id="pic"> <br>

    <button type="button" class="btn btn-info" id="show">Scrape!</button>
    <button type="button" class="btn btn-warning" id="clear">Show All Scrape</button>
    <a href="/saved" class="saveartbtn"><button type="button" class="btn btn-info" id="showallsaved">Saved Articles</button></a>
</nav>

<div id="articledump">
    <h4 id="descdump"></h4>
</div>