<nav id="nav">
  <img src="https://joinblush.com/wp-content/uploads/2017/06/Elite-Daily-png-1024x649.png" id="pic"> <br>

  <button type="button" class="btn btn-info" id="show">Clear</button>
  <a href="/"><button type="button" class="btn btn-warning">Home</button></a>
  {{!-- <a href="/saved" class="saveartbtn"><button type="button" class="btn btn-info" id="showallsaved">Saved Articles</button></a> --}}
</nav>

<div id="savedump">

</div>