body {
    background-image: url("http://static.tumblr.com/5yihavp/ramlyj2ds/tumblr_ltedemoql81r3vazto1_1280.png");
}

#pic {
    height: 200px;
    width: 400px;
}

#nav {
    text-align: center;
    margin-top: 3%;
}

#articledump {
    text-align: center;
}

#savedcontentbox{
    text-align: center;
}

#descdump {
    text-align: center;
    margin: 5%;    
}

#savebtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.saveartbtn {
    text-decoration: none;
    color: white;   
}

#wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
    background-color: white;
}

img {
    height: 200px;
    width: 300px;
}

img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.header{
    text-align: center;
    font-family: 'Bree Serif', serif;
    color: lightblue;
}

.subheader{
    font-family: 'Bree Serif', serif;
    color: lightgrey;
}

a {
    text-decoration: none;
}